/****** Viewports 1200px and above ******/

body {
    background-color: rgb(85, 74, 74);
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgb(250, 239, 220);
    height: 780px;
    min-width: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-decoration: underline;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: rgb(154, 75, 75);
    -webkit-text-stroke:1px black;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

h3 {
    color: rgb(168, 99, 35);
    -webkit-text-stroke: .1px rgb(123, 12, 12);
}

.main-container {
    height: 600px;
    width: 900px;
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(250, 239, 220);
    border-radius: 15px;
}

.container-image {
    height: 100%;
    width: 50%;
    position: static; 
    background-image: url("images/mountain-3.jpg");
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.container-login {
    background-color: rgb(250, 239, 220);
    color: rgb(33, 31, 28);
    height: 600px;
    width: 450px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*margin-left: 50px;
    padding-right: 50px;*/
}

.login-card {
    /*background-color: bisque;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 435px;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 10px;
}

.input-box {
    width: 150px;
    border: .7px solid rgb(247, 158, 75);
    border-radius: 10px;
    padding-left: 8px;
    height: 35px;
}

#login-btn {
    background-color: rgb(247, 158, 75);
    border-radius: 10px;
    border: .5px solid rgb(247, 158, 75);
    height: 38px;
    width: 75px;
}

#lower-text {
    /*background-color: rgb(237, 175, 230);*/
    width: 435px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 175px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.label-text {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.remember-me {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 30px;
}

#vertical-line {
    border: .1px solid rgb(99, 99, 99);
    height: 15px;
}

/******** Viewports between 992px and 1200px (L and XL devices) **********/

@media (min-width: 992px) and (max-width: 1200px){

    h2 {
        width: 400px;
        height: 280px;
        align-items: center;
    }

    h3 {
        color: rgb(250, 239, 220);
        -webkit-text-stroke: .1px rgb(61, 111, 52);
    }

    .remember-me {
        width: 475px;
        color: rgb(250, 239, 220);
    }

    .main-container {
        height: 700px;
        width: 700px;
        display: flex;
        flex-direction: row;
        border: 2px solid rgb(250, 239, 220);
        border-radius: 15px;
    }

    .container-image {
        display: none;
    }

    .container-login {
        background-image: url("images/mountain-3.jpg");
        background-size: cover;
        height: 700px;
        width: 700px;
        border-radius: 15px;
    }

    .login-card {
        width: 500px;
    }

    #login-btn {
        margin-left: 30px;
    }

    #lower-text {
        background-color: rgb(250, 239, 220);
        padding-bottom: 20px;
        padding-top: 20px;
        width: inherit;
        height: 60px;
        margin-bottom: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        align-items: center;
    }
}

/******** Viewports between 576px and 992px (S and L devices) **********/

@media (min-width: 576px) and (max-width: 992px) {

    h2 {
        width: 400px;
        height: 280px;
        align-items: flex-end;
    }

    h3 {
        color: rgb(250, 239, 220);
        -webkit-text-stroke: .1px rgb(61, 111, 52);
    }

    .remember-me {
        width: 475px;
        color: rgb(250, 239, 220);
        justify-content: center;
        margin-right: 55px;
        margin-top: 15px;    
    }

    .main-container {
        height: 700px;
        width: 550px;
        display: flex;
        flex-direction: row;
        border: 2px solid rgb(250, 239, 220);
        border-radius: 15px;
    }

    .container-image {
        display: none;
    }

    .container-login {
        position:relative;
        background-image: url("images/mountain-3.jpg");
        background-size: cover;
        height: 700px;
        width: 100%;
        border-radius: 15px;
    }

    .login-card {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #login-btn {
        margin-top: 20px;
    }

    #lower-text {
        background-color: rgb(250, 239, 220);
        padding-bottom: 20px;
        padding-top: 20px;
        width: inherit;
        height: 60px;
        margin-bottom: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}


